body {
    background: rgb(43, 42, 42);
    font-family: 'quantify';
}

mainContent {
    height: 100em;
}

form {
    width: 200px;
    margin-top: 65px;
    margin-left: 220px;
}

#logo {
    width: 200px;
    margin-left: 5px;
    margin-top: 15px;
    float: left;
}


#buttons {
    display: inline-block;
    max-width: 700px;
    margin-right: 80px;
    margin-left: auto;
    margin-top: 65px;

}

.btn {
    margin: 3px 3px 3px 3px;
    background: rgb(161, 160, 160);
}

#gifHolder {
    color: black;
    min-height: 100vh;
    height: auto;
    margin: 30px 30px 30px 30px;
    max-width: 100em;
}

.gifImg {
    display: inline-block;
    background:  rgb(90, 89, 89);
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

.gifRating {
    font-weight: bold;
}

#header {
    height: auto;
    width: 100em;
    min-height: 130px;
    margin: 0px 0px 0px 0px;
    background: black;
    padding: 30px 30px 30px 30px; 
}

#footer {
    position: relative;
    margin-top: 30px;
    bottom:0;
    width:100em;
    height:80px;
    background: black;
}

#backToTop {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
}

@font-face {
	font-family: 'quantify';
	src: url(./quantify.ttf) format('truetype');
}